# $OpenBSD: sshd_config,v 1.93 2014/01/10 05:59:19 djm Exp $
# If you get a duplicate motd then disable the PrintMotd option
Port 22
AddressFamily any
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

RekeyLimit default none
SyslogFacility AUTHPRIV

LoginGraceTime 0
PermitRootLogin yes
StrictModes yes
MaxAuthTries 2
MaxSessions 99999

PermitEmptyPasswords no
PasswordAuthentication yes

ChallengeResponseAuthentication no

#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no
#KerberosUseKuserok yes

# GSSAPI options
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no
#GSSAPIEnablek5users no

UsePAM yes
X11Forwarding yes
X11UseLocalhost yes
PermitTTY yes
Banner /etc/casjaysdev/banners/ssh.txt
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
UsePrivilegeSeparation yes

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# override default of no subsystems
Subsystem sftp /usr/libexec/openssh/sftp-server
IgnoreRhosts yes
Banner /etc/casjaysdev/banners/ssh.txt
KeepAlive yes
Protocol 2
